<!DOCTYPE html>
<html>
<head>

<link rel="stylesheet" href="//cdn.datatables.net/1.9.4/css/jquery.dataTables.css">

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//cdn.datatables.net/1.9.4/js/jquery.dataTables.js"></script>


<script>
    $(document).ready(function() {
        $('#book_list').dataTable();
    });
</script>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            {% ifequal message.tags 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endifequal %}
        {% else %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}

    {% endfor %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>
