<!DOCTYPE html>
<html>
<head>

    <!-- Latest compiled and minified CSS -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap.min.css">

<!-- Optional theme -->
<link rel="stylesheet" href="//netdna.bootstrapcdn.com/bootstrap/3.1.1/css/bootstrap-theme.min.css">
<link rel="stylesheet" href="/static/css/datepicker.css">
<!-- Latest compiled and minified JavaScript -->

<script src="http://code.jquery.com/jquery-1.11.0.min.js"></script>
<script src="//netdna.bootstrapcdn.com/bootstrap/3.1.1/js/bootstrap.min.js"></script>
<script src="/static/js/bootstrap-datepicker.js"></script>

    <title></title>
<script>
$(document).ready(function(){

});
</script>
<style>
</style>
</head>
<body>
{% if messages %}
    {% for message in messages %}
        {% if message.tags %}
            {% ifequal message.tags 'error' %}
                <div class="alert alert-danger">{{ message }}</div>
            {% else %}
                <div class="alert alert-{{ message.tags }}">{{ message }}</div>
            {% endifequal %}
        {% else %}
            <div class="alert alert-info">{{ message }}</div>
        {% endif %}

    {% endfor %}
{% endif %}
{% block content %}
{% endblock %}
</body>
</html>
