{% extends 'base.html' %}

{% block content %}
    <table id="book_list">
        <thead>
            <tr>
                <th>Book Name</th>
                <th>Author</th>
                <th>Availability</th>
                <th>Assigned To</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody>

            {% for book in object_list %}
                <tr>
                    <td>{{ book.name }}</td>
                    <td>{{ book.author_name }}</td>
                    {% if book.is_available %}
						<td><center><img src='/static/images/tick.png'></center></td>
					{% else %}
						<td><center><img src='/static/images/no.png'></center></td>
					{% endif %}
                    <td>{{ book.assigned_to.get_full_name }}</td>
                    <td>
                        {% if book.is_available %}
                            <a href="/books/{{ book.id }}/assign">Assign to me</a>
                        {% elif book.assigned_to == user%}
                            <a href="/books/{{ book.id }}/release">Return the book</a>
                        {% endif %}
                    </td>
                </tr>
            {% endfor %}

        </tbody>
    </table>
{% endblock %}
